.nav-logo {
  margin-top: 100px;
}

.nav-text-logo {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  font-weight: 700;
  font-size: 30px;
}
