.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.words {
  width: 550px;
}
.heading {
  margin-bottom: 0px;
  margin-top: 10px;
}
.browser {
  margin-top: 45px;
  height: 500px;
}
.browserStyle {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 4px 10px;
  border: 1px solid rgb(204, 204, 204);
  flex: 1 1 0%;
  flex-direction: column;
  display: flex;
}
.url {
  height: 80px;
  width: 100%;
  background-color: #D3D3D3;
  overflow: hidden;
}
.url-bar {
  display: inline-block;
  margin-left: 20px;
  margin-top: 18px;
  padding-left: 20px;
  height: 40px;
  width: 380px;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: white;
  float: left;
}
.rocket {
  width: 20px;
  height: 20px;
}
.arrow {
  margin: 10px;
}
.arrow:hover {
  cursor: pointer;
}
.left-arrow {
  margin-left: 20px;
}
.anchor{
  color: blue;
}
.anchor:hover {
  cursor: pointer;
}
.anchor:hover{
  color: purple;
}
.arrow-box {
  float: left;
  margin-top: 20px;
}
