@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:700|Varela+Round');
@import 'home';
@import 'nav';
@import 'quickStart';
@import 'normalize';

$lightB: #ACF0F2;
$blue: #1695A3;
$darkB: #225378;
$yellow: #F3FFE2;
$orange: #EB7F00;

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #525252;
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
}
header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
h1 {
  padding-top: 70px;
  padding-left: 300px;
  text-align: center;
  padding:0px;
  margin:0 0 40px 0;
}
.main-heading {
  padding-top: 70px;
  padding-left: 300px;
  text-align: center;
  padding:0px;
  margin:40px 0 40px 0;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}
.component {
  padding-top: 30px;
  padding-left: 300px;
}
.text{
  margin: 0 100px;
}

.inlinecode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

h3{
  text-align: center;
}

.navText{
  margin: 0;
}

.codeimg{
  margin: 5% auto;
  margin-bottom: 0;
}
